:root{
  --image-list-item-height: 150px;
  --image-list-item-width: 200px;
  --image-list-gap: 10px;
  --image-border-radius: 10px;
}

.ImageList {
  display: grid;
  grid-template-columns: repeat(2, var(--image-list-item-width));
  grid-auto-rows: var(--image-list-item-height);
  column-gap: var(--image-list-gap);
  row-gap: var(--image-list-gap);
}

.ImageList_image {
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: var(--image-border-radius);
  cursor: pointer;
}

.ImageList_image_text{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
  font-size: 1.5em;
  border-bottom-right-radius: var(--image-border-radius);
  border-bottom-left-radius: var(--image-border-radius);
}